.vscode/**
.vscode-test/**
src/**/*.ts
.gitignore
**/tsconfig.json
**/*.map
node_modules/**
*.vsix
_tools
.cursor
.vscodeignore
dist/vendors-*.js
dist/vendors-*.js.map
dist/node_modules-*.js
dist/node_modules-*.js.map
**/*.worker.js
**/*.worker.js.map
src/tiptap-bundle.js
src/build-editor-bundle.js
pnpm-lock.yaml
test.md
.tool-versions
resources/prism.css
resources/prism-dark.css
resources/highlight.css